@import '../../../../assets/styles/Variables';

.reviews-container{
    margin-top: 50px;
    border: 5px solid $primary_text_color;
    border-radius: 5px;
    padding: 30px;
    background-color: white;
    color: $primary_text_color;
    .reviews-header{
        .sort-icons{
           margin : 0px 10px ; 
           height: 40%;
           i{
               font-size: 25px;
               color: $secondary_text_color;
           }
        }
    }
}