@import '../../../../assets/styles/Variables';

.hotel-card-container{
    border: 5px solid $primary_text_color;
    border-radius: 5px;
    background-color: $primary_background;
    color: $primary_text_color ;
    margin-bottom: 10px;
    .hotel-card-header{
        padding: 10px;
    }
    .hotel-card-body{
        .hotel-image-container{
            padding: 10px;
        }
        .info-content{
            .single-info{
                margin: 5px 0px ;
            }
        }
    }
}