.gallery-container{
    .selected-image{
        margin-bottom: 35px;
        .image-container{

        }
    }
    .gallery-list{
        overflow-x: hidden;
        .image-item{
            margin: 5px;
        }
    }
    .gallery-list::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .gallery-list::-webkit-scrollbar{
        width: 12px;
        background-color: #F5F5F5;
    }

    .gallery-list::-webkit-scrollbar-thumb{
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
    .gallery-list:hover{
        overflow-x: scroll;
    }
}