@font-face {
    font-family: 'Arvo';
    src: url('https://fonts.googleapis.com/css?family=Anton') format("opentype");
}
@font-face {
    font-family: 'Anton';
    src: url('https://fonts.googleapis.com/css?family=Arvo') format("opentype");
}